NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCNZOT83ZwSoLBrHy8YHqLKq4tBfUak9Kg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=focuslab-519a9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=focuslab-519a9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=focuslab-519a9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=852489422576
NEXT_PUBLIC_FIREBASE_APP_ID=1:852489422576:web:e019f124571f873a0d6435
